.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.panel {
  width: 200px;
  height: 300px;
  margin: 10px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.panel.active {
  flex: 5;
}

.img-text {
  display: none;
}

.panel.active .img-text {
  display: block;
}